header {
  height: 200px;
  display: flex;
  justify-content: center;
  align-content: center;
}

header a:link {
  text-decoration: none;
}

header img:hover {
  opacity: 0.5;
}

header .home {
  display: flex;
  justify-content: center;
}

header .about {
  display: flex;
  justify-content: center;
}
