header {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header_wrapper {
  padding: 10px;
}

header img:hover {
  opacity: 0.5;
}

nav {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  text-align: center;

  display: flex;
  flex-direction: row;
}

nav a {
  padding: 10px;
}

header a:link {
  text-decoration: none;
  color: black;
}

header a:hover {
  opacity: 0.5;
}

header a:visited {
  color: black;
}
