* {
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 197, 197);
  margin: 0px;
}

.dogs_wrapper {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 60px;
  gap: 20px;
  font-family: 'Poppins', sans-serif;
}

.dogs_wrapper img {
  padding: 5px;
  margin-top: 20px;
  width: 100%;
  border-radius: 10px;
}

.dogs_wrapper img:hover {
  opacity: 0.5;
}

.dogs_wrapper h2 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 5px;
  text-decoration: underline;
}
.dogInfo {
  font-size: 18px;
  text-align: center;
}
.allDogs {
  padding: 20px;
  border-style: groove;
  border-width: 5px;
  border-color: lightsalmon;
}

.dogSize p {
  padding: 10px;
}

.facts_wrapper {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  font-family: 'Poppins', sans-serif;
  padding: 60px;
}

.facts h3 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 5px;
  padding: 10px;
}

.facts_wrapper p {
  font-size: 15px;
}
.facts_wrapper li {
  margin: 10px;
  justify-content: center;
  text-align: start;
  margin-bottom: 10px;
}

ul {
  list-style-type: square;
  margin: 0;
  padding: 0;
}

.facts {
  padding: 30px;
  border-style: groove;
  border-width: 5px;
  border-color: lightsalmon;
}

.countdown {
  border-style: groove;
  border-width: 5px;
  border-color: lightsalmon;
}

.countdown h3 {
  font-size: 25px;
  padding: 10px;
}

.countdown img {
  padding: 5px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 10px;
}

.countdown img:hover {
  opacity: 0.5;
}

.countdown a:link {
  color: darksalmon;
}
.countdown a:visited {
  color: black;
}
.countdown a:hover {
  color: rgb(228, 104, 62);
}

@media screen and (min-width: 1024px) {
  .dogs_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  .dogs_wrapper img {
    height: 200px;
    width: 200px;
  }
  .allDogs {
    width: 30%;
  }

  .facts_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .facts {
    width: 50%;
  }

  .countdown {
    width: 50%;
  }

  footer {
    display: flex;
  }
}
