* {
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 197, 197);

  margin: 0px;
}

.dogs_wrapper {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 60px;
  gap: 20px;
}

.dogs_wrapper img {
  padding: 5px;
  margin-top: 20px;
  width: 100%;
  border-radius: 10px;
}

.dogs_wrapper img:hover {
  opacity: 0.5;
}

.dogs_wrapper h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 5px;
  text-decoration: underline;
}
.dogInfo {
  padding: 30px;
  font-size: 18px;
  text-align: center;
}
.allDogs {
  border-style: groove;
  border-color: lightsalmon;
}
.dogSize p {
  padding: 10px;
}
.facts_wrapper {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.facts_wrapper h3 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 5px;
  text-decoration: underline;
  padding: 10px;
}
.facts_wrapper li {
  padding: 10px;
  text-align: start;
}

.facts {
  border-style: groove;
  border-color: lightsalmon;
}

.countdown {
  border-style: groove;
  border-color: lightsalmon;
}

@media screen and (min-width: 1024px) {
  .dogs_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  .dogs_wrapper img {
    height: 200px;
    width: 200px;
  }
  .allDogs {
    width: 30%;
  }

  footer {
    display: flex;
  }
}
